* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background-color: black; */
}
.HOME{
  background-color: #E3E4FA;
}
.STUDENT{
  background-color: #9AFEFF;
}
.LOCATION{
  background-color: #E3E4FA;
}
.GALLERY{
  background-color: #9AFEFF;
}
.ABOUT{
    background-color: #E3E4FA;
}
